<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="practiceAddItem" xsi:type="object">AdminTest\TestModule\Console\Command\AddItem</item>
			</argument>
		</arguments>
	</type>   
	<preference for="AdminTest\TestModule\Api\Data\ItemInterface" type="AdminTest\TestModule\Model\Item"/>
    <preference for="AdminTest\TestModule\Api\ItemRepositoryInterface" type="AdminTest\TestModule\Model\ItemRepository"/>
	

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="practice_items_grid_data_source" xsi:type="string">PracticeGridCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="PracticeGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">add_sample_item</argument>
            <argument name="resourceModel" xsi:type="string">AdminTest\TestModule\Model\ResourceModel\Item</argument>
        </arguments>
    </virtualType>
	
</config>